body{
    margin: 0;

}
.bgimg{
    background-image:url(food.jpg);
    background-size:cover;
    height:100vh;
    margin:0;
   
}
h1{
    font-weight:bolder;
    font-size: 35px;
}
h1::first-letter{
    font-style:italic;
    font-size: 50px;
}

.container{
    font-family:"Arial";
    background-color: #b46a2e;
    text-align: left;
    border-radius: 7px;
    width:100%;
    position: absolute;
    bottom:01px;
    padding-bottom: 10px;
    
    
}
button{
    border-radius: 7px;
    border-color: rgb(113, 110, 110);
    padding: 8px;
    font-style: normal;
    font-family:"Arial";
    font-weight: bolder;
}